<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="../../node_modules/core-js/client/shim.min.js"></script>
        <script src="../../node_modules/zone.js/dist/zone.js"></script>
        <script src="../../node_modules/reflect-metadata/Reflect.js"></script>
        <script src="../../node_modules/systemjs/dist/system.src.js"></script>

        <!-- 2. Configure SystemJS -->
        <script src="../../systemjs.config.js"></script>
        <script>
            System.import('../../Scripts/App/main').catch(function (err) {
                console.error(err);
            });
        </script>
    </head>

    <body> 
        <div style="text-align: center">
            <h3>Web-Portal</h3>
        </div>
        <div class="container">
          <nav class="navbar navbar-default">
                <div class="container">
                    
                    <ul class="nav navbar-nav">           
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Карточка предприятия", "About", "Home")</li>
                    <li>@Html.ActionLink("Карточка клиента", "Contact", "Home")</li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p style="text-align: right">&copy; @DateTime.Now.Year</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
