

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="../../node_modules/core-js/client/shim.min.js"></script>
    <script src="../../node_modules/zone.js/dist/zone.js"></script>
    <script src="../../node_modules/reflect-metadata/Reflect.js"></script>
    <script src="../../node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

</head>
<body>
    <div style="text-align: center">
        <h3>Web-Portal</h3>
    </div>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Информация по клиенту(Angular2)", "Index", "Home")</li>
                    <li>@Html.ActionLink("Информация по клиенту(jquery)", "User", "Home")</li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">

        <div id="results"></div>
        <input type="text" id="name" name="name"></input>
        <input type="submit" id="submit" value="Поиск"></input>
        
        <script type="text/javascript">
            $(document).ready(function () {
                $('#submit').click(function (e) {
                    e.preventDefault();
                    var name = $('#name').val();
                    name=encodeURIComponent(name);
                    $('#results').load('@Url.Action("CreateUser2", 
                                            "Home")?name=' +
                        name);
                });
            });
        </script>
        

        <hr />
        <footer>
            <p style="text-align: right">&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</body>
</html>