

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="../../node_modules/core-js/client/shim.min.js"></script>
    <script src="../../node_modules/zone.js/dist/zone.js"></script>
    <script src="../../node_modules/reflect-metadata/Reflect.js"></script>
    <script src="../../node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>

</head>
<body>
    <div style="text-align: center">
        <h3>Web-Portal</h3>
    </div>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Информация по клиенту(Angular2)", "Index", "Home")</li>
                    <li>@Html.ActionLink("Информация по клиенту(jquery)", "User", "Home")</li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        <form>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Имя</label>
                        <input class="form-control"
                               type="text"
                               name="firstName" />

                        <div class="alert alert-danger">

                            Не указано имя
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Фамилия</label>
                        <input class="form-control"
                               type="text"
                               name="lastName" />

                        <div class="alert alert-danger">
                            Не указана фамилия
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Возраст</label>
                        <input class="form-control"
                               type="number"
                               name="age" />

                        <div class="alert alert-danger">
                            Не указан возраст
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Электронная почта</label>
                        <input class="form-control"
                               type="text"
                               name="email" />

                        <div class="alert alert-danger">
                            Не указан Email
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Номер телефона</label>
                        <input class="form-control"
                               type="number"
                               name="phone" />

                        <div class="alert alert-danger">
                            Не указан номер телефона
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-sm-1">
                <div class="form-group">
                    <button class="btn btn-primary">
                        Сохранить
                    </button>
                </div>
            </div>
            <div class="col-sm-11">
            </div>

        </div>



        @*<input type="submit" id="submit" value="Получить пользователей"></input>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#submit').click(function (e) {
                    e.preventDefault();
                    var name = $('#name').val();
                    name=encodeURIComponent(name);
                    $('#results').load('@Url.Action("GetUsers",
                                            "Home")?name=' +
                        name);
                });
            });
        </script>

        <div id="results"></div>

        <div id="searchresults">

            <ul>
                @foreach (var item  )
                {
                    <li>@item.FirstName</li>
                }
            </ul>

        </div>*@

        <hr />
        <footer>
            <p style="text-align: right">&copy; @DateTime.Now.Year</p>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
</body>
</html>